$('#toilets').prepend('<%= j render @toilet %>');

$('nav#header').html(
  '<div class="navbar-nav mr-auto">' +
  '<%= j render "new_toilet" %>' +
  '</div><div>' +
  '<%= j render "session" %>' +
  '</div>'
)
