<nav id="header" class="navbar fixed-top navbar-light bg-light">
  <div class="navbar-nav mr-auto">
    <%= render 'new_toilet' %>
  </div>
  <div>
    <%= render 'session' %>
  </div>
</nav>
<div class="container col col-md-8 offset-lg-2">
  <ul id="toilets">
    <div id="infinite-scrolling"><div class="pagination"></div></div>
    <%= render @toilets %>
  </ul>
  <div class="loading">
    Loading...
  </div>

  <%= render "modal" %>

</div>


<script>
  if(navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
      console.log(position.coords);
      $.getScript(`/?lat=${position.coords.latitude}&lng=${position.coords.longitude}&page=1`);
    }, function(error) {
      alert(error);
      $.getScript(`/?lat=45&lng=6&page=1`);
    }, {enableHighAccuracy: true, maximumAge: 0});

  }
  else {
    $('#toilets').append('Location not available');
  }
</script>
