if($('.pagination').size() === 0) {
  $('#toilets').append('<div id="infinite-scrolling"><%= will_paginate %></div>');
}

setInfiniteScroll();

$('#toilets').append('<%= j render @toilets %>');
$('.loading').hide();

<% if @toilets.next_page %>
  $('.pagination').replaceWith('<%= j will_paginate @toilets %>');
<% else %>
  $(window).off('scroll');
  $('.pagination').remove();
<% end %>
