<nav id="header" class="navbar fixed-top navbar-light bg-light">
  <div class="container col">
    <%= render 'new_toilet' %>
  </div>
</nav>
<div class="container col col-md-8 offset-md-2">
  <ul id="toilets">
    <%= render @toilets %>
  </ul>
</div>


<script>
  if(navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
      console.log(position.coords);
      $.getScript(`/?lat=${position.coords.latitude}&lng=${position.coords.longitude}&page=1`);
    }, function(error) {
      alert(error);
    }, {enableHighAccuracy: true, maximumAge: 0});
  }
  else {
    $('#toilets').append('Location not available');
  }
</script>
