body {
  padding-top: 70px;
}

.center {
  margin: 0 auto;
}

form.new_toilet > * {
  margin-bottom: 1em;
}

div#infinite-scrolling {
  display: none;
}

.hidden {
  display: none;
}

div.static-map {
  margin: 1em auto;
  width: 100%;
  padding: 0 15%;
  > img {
    width: 100%;
    margin: auto;
  }
}

ul {
  margin:   0;
  padding:  0;
}

.toilet-icon {
  > img {
    height: 2em;
  }
}

div.toilet-name {
  position: absolute;
  left: 5em;
}
