body {
  padding-top: 70px;
}

.center {
  margin: 0 auto;
}

form.new_toilet > * {
  margin-bottom: 1em;
}

div#infinite-scrolling {
  display: none;
}

.hidden {
  display: none;
}

div.static-map > img {
  width: 80%;
  margin: auto;
}

ul {
  margin:   0;
  padding:  0;
}

.toilet-icon {
  height: 2em;
}
